/* Selectores por clase */
.subtitulo {
    font-style: italic;
    color: gray;
}

.sobre-mi {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

.imagen-perfil {
    width: 150px;
    border-radius: 50%;
}

/* Selectores por ID */
#encabezado {
    background-color: #0044cc;
    color: white;
    padding: 20px;
    text-align: center;
}

#pie {
    background-color: #222;
    color: white;
    padding: 10px;
    text-align: center;
}
